emails-editor{
    display: block;    
}
emails-editor div {
    border-top: 1px solid #cccccc;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    width: 100%;
    margin: auto;
    background: white;
    line-height: ;
}
emails-editor #email-input{    
    border: none;
    display: inline-block;
    float:left;
    padding: 6px 0px;
    background: transparent;
}
emails-editor #email-input:focus{    
    outline: none;
}
emails-editor .email{
    display:inline-block;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    height: 24px;
    float:left;
    vertical-align: middle;
    text-align: center;
}
emails-editor .email.correct{    
    background: #d9e8ff;
    border-radius: 12px;
}
emails-editor .email.wrong{
    border-bottom: 2px dashed red;
    padding: 6px 0px;
}
emails-editor .email .remove{
    margin-left: 8px;
    cursor: pointer;
}