<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="editEmailsApp" ng-controller="controller" ng-init="emailsCount = 0;">
    <h1>Share "Board name" with others</h1>
    <emails-editor></emails-editor>
	<button ng-click="addEmails()">Add email</button>
	<button ng-click="getEmailsCount()">Get emails count</button>
</div>
<script src="emailsEditor.js">
</script>

</body>
</html>
